
nav ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: #3300CC;
      }

nav li {
    float: left;
    }

nav li a {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        }

  nav li a:hover {
          background-color: #3366FF;
          }


section {
  float: left;
  margin: 0 1.5%;
  width: 60%;
  }

  footer {
  clear: both;
  }
